@model PhoneBook.Models.PersonModel

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Edytuj Kontakt</h2>

            @using (Html.BeginForm("Update", "Person", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Kontakt</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </div>
                   @*@using (Html.BeginForm("Update", "Person", new { id = Model.ID }, FormMethod.Post))
                   {
                    <button>Edytuj</button>
                   }*@
                </div>
            }

            <div>
                @Html.ActionLink("Wróć do listy", "Index")
            </div>
        </div>
    </div>
</div>
